[user]
	name = Alden Quimby
	email = aldenquimby@gmail.com

[push]
	default = simple

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true

[color "branch"]
	remote = white

[color "status"]
	added = yellow
	changed = cyan
	untracked = magenta
	deleted = red

[alias]
	aa = add -A
	acp = "!f() { git add -A && git commit -m \"$1\" && git push; }; f"
	acprm = "!f() { git acp \"$1\"; git pb && git prm \"$1\"; }; f"
	acrpm = acprm
	apcrm = acprm
	bak = "!f() { git cb `echo "$(git rev-parse --abbrev-ref HEAD)-$(date +%s)"` && git pb && git co -; }; f"
	cm = commit -m
	co = checkout
	cb = checkout -b
	cp = cherry-pick
	cpc = cherry-pick --continue
	df = diff
	dif = diff
	dfc = diff --cached
	fu = "!f() { git add -A && git commit --fixup HEAD && git rebase --interactive --autosquash HEAD~2; }; f"
	lg = log --graph --pretty=format:'%C(yellow)%d%Creset %C(bold blue)%s%Creset %Cgreen(%cr) %Cred<%an>%Creset' --abbrev-commit --date=relative
	pb = "!f() { git push --set-upstream origin `git rev-parse --abbrev-ref HEAD`; }; f"
	pf = push --force
	prco = "!f() { gh pr checkout $1; }; f"
	prl = "!f() { gh pr list; }; f"
	prm = "!f() { gh pr create --fill --web; }; f"
	rbc = rebase --continue
	rbm = !git fetch origin main && git rebase -i origin/main
	rpm = prm
	st = status -sb
	tagd = "!f() { git tag -d \"$1\"; git push origin \":refs/tags/$1\"; }; f"
	tagsync = "!f() { git tag -l | xargs git tag -d; git fetch; }; f"
	trim = "!f() { git fetch -p; for branch in `git branch -vv | grep ': gone]' | grep '^[^*]' | awk '{print $1}'`; do git branch -D $branch; done; git prune; git gc --aggressive; }; f"

# Here's how you can delete all tags matching aq
#
# g tag -l | grep 'aq' | xargs -I % sh -c 'git tag -d "%"; git push origin ":refs/tags/%";'
#

[merge]
	tool = kdiff3
[diff "daff-csv"]
	command = daff diff --color --git
[merge "daff-csv"]
	name = daff tabular csv merge
	driver = daff merge --output %A %O %A %B
[diff "ansible-vault"]
	textconv = ansible-vault view
[init]
	defaultBranch = main
